#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;

  .container_list{
    text-align: center;
    background-color: rgb(32, 32, 32);
    margin: 10px 0;
    ul {
      display: inline-block;
      font-size: 12px;
      text-align: left;
      list-style: none;
      max-width: 600px;
    }
  }
}

.read-the-docs {
  color: #888;
  white-space: pre-line;
  padding: 2em;
}

.input {
  padding: 1px;
  max-width: 20px;
  margin: 1px;
  font-size: 25px;
  text-transform: lowercase;
  text-align: center;
  color: #222;
  background-color: transparent;
  border: solid 2px #3f3f3f;
}

h1{
  font-size: 30px;
}
.ico{
  font-size: 18px;
}

.con_fondo {
  background-color: #ceb99e; /* Color marrón claro tipo tela */
  background-image: linear-gradient(135deg, rgba(255,255,255,0.1) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.1) 75%, transparent 75%, transparent);
  background-size: 5px 5px; /* Tamaño del patrón */
  filter: brightness(0.95); /* Ajuste de brillo */
  clip-path: polygon(
    0% 95%, 5% 90%, 10% 93%, 15% 88%, 20% 92%, 25% 87%, 30% 93%, 
    35% 90%, 40% 94%, 45% 89%, 50% 95%, 55% 89%, 60% 94%, 65% 90%, 
    70% 93%, 75% 88%, 80% 92%, 85% 87%, 90% 93%, 95% 90%, 100% 95%, 
    100% 5%, 95% 10%, 90% 7%, 85% 12%, 80% 8%, 75% 13%, 70% 7%, 
    65% 10%, 60% 6%, 55% 11%, 50% 5%, 45% 11%, 40% 6%, 35% 10%, 
    30% 7%, 25% 13%, 20% 8%, 15% 12%, 10% 7%, 5% 10%, 0% 5%
);
}
